content/storage/memes/*.jpg
content/storage/memes/*.png
content/storage/memes/*.gif
content/storage/memes/*.ico
content/storage/memes/*.jpeg
content/storage/memes/*.bmp
content/storage/memes/*.svg
keys.js
node_modules/*
package.json
package-lock.json
content/storage/roles/*.roles
.vscode/*
content/storage/logs/*.log